#root{max-width:1280px;margin:0 auto;padding:2rem;text-align:center;display:flex;justify-content:center;align-items:center;width:100%}.board-row{display:flex;margin:-1px}.square{width:50px;height:50px}
